<% content_for :title, "New volunteer" %>

<h1>New volunteer</h1>

<%= render "form", volunteer: @volunteer %>

<br>

<div>
  <%= link_to "Back", root_path %>
  <% if admin_signed_in? && !volunteer_signed_in? %>
    | <%= link_to "Back to Admin", admin_path %>
  <% end %>
</div>
